body{
    text-align: center;
    background-image: url("http://1.bp.blogspot.com/-phn7C70xf30/UuKsyOZAyKI/AAAAAAAAAps/Vs3YQK8qNyU/s1600/WoodPlanks.png");
}

body h1{
    background-color: white;
    display: inline-block;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
#quest{
    background-color: #ff9933;
    font-size: 24px;
    padding: 10px;
    display: inline-block;
}
#choice a{
    text-decoration: none;
    color: black;
}
.choices{
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    border: 2px solid black;
}

.choices:hover {
    background-color: black;
}

#choice .choices:hover a{
    color: white;
}